* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: black;
}

header {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/background_accueil_flou.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: 1.25em;
}

.navbar .logo {
    font-size: 2.5em;
    font-weight: bold;
}

.navbar .navlinks ul {
    display: flex;
}

.navbar .navlinks ul li {
    margin: 0 30px;
}

.navbar .navlinks ul li a.active {
    color: #00ff00;
    font-weight: 700;
}

.navbar #auto_top {
    z-index: 2;
}

#auto_top {
    display: none;
}

.navbar .menu-hamburger {
    display: none;
    padding-right: 50px;
    z-index: 2;
    width: 50px;
}

.global_container {
    width: 60%;
    padding: 5vw 8vw 5vw 8vw;
    margin: 0 0 7vh 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#titre_principal {
    text-align: center;
    font-size: calc(1.5rem + 1.5vw);
    text-shadow: black 1px 0 10px;
    margin-bottom: 25px;
}

.global_container p {
    text-align: justify;
}

.competences {
    margin-bottom: 35px;
}

.competence_container {
    display: flex;
}

.competence_container p {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.competences .progressbar_container {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25vw;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin: 15px;
}

.competences .progressbar {
    padding-left: 15px;
    background-color: black;
    border-radius: 25vw;
}

.html {
    width: 80%;
}
.css {
    width: 70%;
}
.js {
    width: 60%;
}
.php {
    width: 75%;
}
.java {
    width: 45%;
}
.mysql {
    width: 80%;
}
.mariadb {
    width: 40%;
}



iframe {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 60vh;
    width: 75%;
    height: 100%
}

#close_cv {
    display: none;
    position: absolute;
    top: 57vh;
    right: 11vw;
    padding: 10px;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
    color:crimson;
    border: 2px solid crimson;
    border-radius: 20%;
}

.cv_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dlcv, #open_cv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all linear 0.2s;
}

#dlcv:hover, #open_cv:hover {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 7px white;
    transition: all linear 0.2s;
}




@media screen and (max-width: 1600px) {

    .navbar {
        padding: 0;
    }

    .navbar .logo {
        padding: 30px;
    }

    .navlinks {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(7px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        scroll-behavior: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: margin-left 0.5s ease;
    }

    .navbar .menu-hamburger, 
    #auto_top {
        display: block;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .navlinks ul li {
        margin: 30px 0;
        font-size: 1.5em;
    }

}


@media screen and (max-width: 1000px) {

    .global_container {
        width: 75%;
    }

    .competence_container {
        justify-content: center;
    }

    .competence_container .progressbar_container {
        width: 60%;
    }

    .cv_buttons {
        width: 100%;
        justify-content: space-around;
    }

}


@media screen and (max-height: 800px) and (max-width: 1600px) {

    .navbar .navlinks ul li {
        margin: 15px 0;
        font-size: 1.2em;
    }
}


@media screen and (max-width: 700px) {

    .competence_container p {
        width: 25vw;
    }

    #open_cv,
    #dlcv {
        width: 30vw;
        text-align: center;
    }

}


@media screen and (max-width: 500px) {

    .navbar .logo {
        font-size: 1.9em;
    }

    #titre_secondaire {
        font-size: 1.3em;
    }

    .global_container p {
        font-size: 0.9em;
    }

}


@media screen and (max-width: 400px) {

    .navbar .logo {
        font-size: 1.6em
    }
    
    .navbar .menu-hamburger {
        right: 20px;
    }

    .navbar .logo {
        left: 20px;
    }

}

@media screen and (max-width: 300px) {

    .navbar .menu-hamburger {
        width: 25px;
        top: 44px;
    }

    .navbar .logo {
        font-size: 1.2em;
    }

}
